/* ===========================
   ToC 

   1.0 Phones 0 - 549px 
   1.1 Results
   1.2 Summary
   1.3 Summary test
   1.4 Test
   1.5 Button
   1.6 Attribution
   2.0 Tablets 550px - 899px 
   2.1 Results
   2.2 Summary
   2.3 Test
   2.4 Button
   2.5 Attribution

   =========================== */

/* =================
   Custom Properties
   ================= */

:root {
  // Colors

  // Primary

  --color-red: 0deg, 100%, 67%;
  --color-orange: 39deg, 100%, 56%;
  --color-teal: 166deg, 100%, 37%;
  --color-cobalt: 234deg, 85%, 45%;

  // Gradients

  --color-bg-slate-blue: 252deg, 100%, 67%;
  --color-bg-royal-blue: 241deg, 81%, 54%;
  --color-circle-violet: hsla(256, 72%, 46%, 1);
  --color-circle-persian: hsla(241, 72%, 46%, 0);

  // Neutral

  --color-white: 0deg, 0%, 100%;
  --color-pale-blue: 221deg, 100%, 96%;
  --color-grey-blue: 224deg, 30%, 27%;
  --color-lavender: 241deg, 100%, 89%;

  // Opacity
  --test-opacity: 0.05;
}

/* ===================
   1.0 Phones 0 - 549px 
   =================== */

/* =============
   1.1 Results
   ============= */

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 2rem;

  padding-inline: 16vw;
  padding-block: 2em;

  background: linear-gradient(
    hsla(var(--color-bg-royal-blue), 0.9) 95%,
    hsl(var(--color-bg-slate-blue))
  );

  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;

  color: hsl(var(--color-white));

  &__title {
    color: hsla(var(--color-lavender), 0.89);
    font-size: 1.5rem;

    font-weight: 700;
  }

  &__circle {
    background: linear-gradient(
      to top,
      var(--color-circle-persian) 8%,
      var(--color-circle-violet)
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
  }

  &__score {
    font-size: 4rem;
    font-weight: 800;
  }

  &__of {
    color: hsla(var(--color-lavender), 0.5);
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__eval {
    font-size: 2rem;
  }

  &__text {
    font-size: 1.2rem;
    color: hsla(var(--color-lavender), 0.8);
  }
}

/* =============
   1.2 Summary
   ============= */

.summary {
  padding-inline: 7vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: hsl(var(--color-grey-blue));

  &__title {
    font-weight: 800;
    font-size: 1.2rem;
  }

  /* ==============
   1.3 Summary test
   ================ */
  .summary__tests {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
  }

  /* ===========
   1.4 Test
   ============= */
  .test {
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: space-between;
    min-height: 4rem;

    // Borders corner only by  Temani Afif: https://css-tip.com/corner-only-border-image/

    --s: 14px; /* the size on the corner */
    --t: 1px; /* the thickness of the border */
    --g: 0px; /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid rgba(128, 128, 128, 0.2); /* the color here */
    outline-offset: calc(-1 * var(--t));
    mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
        calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;

    &__left {
      display: flex;
      gap: 16px;
      text-transform: capitalize;
      padding-inline-start: 1rem;
    }

    &__right {
      display: flex;
      gap: 6px;
      padding-inline-end: 1rem;

      .test__divider {
        margin-inline-start: 0.3rem;
      }

      .test__divider,
      .test__of-100 {
        color: rgba(128, 128, 128, 0.7);
      }
    }

    .test__name {
      font-size: 1.1rem;
    }

    &--reaction {
      margin-block-start: 0.5rem;
      background-color: hsla(var(--color-red), var(--test-opacity));

      .test__name {
        color: hsl(var(--color-red));
      }
    }

    &--memory {
      background-color: hsla(var(--color-orange), var(--test-opacity));

      .test__name {
        color: hsl(var(--color-orange));
      }
    }

    &--verbal {
      background-color: hsla(var(--color-teal), var(--test-opacity));

      .test__name {
        color: hsl(var(--color-teal));
      }
    }

    &--visual {
      background-color: hsla(var(--color-lavender), 0.2);

      .test__name {
        color: hsl(var(--color-cobalt));
      }
    }
  }

  /* ===========
   1.5 Button
   ============= */

  .button {
    margin-block-start: 0.5rem;
    background: hsl(var(--color-grey-blue));
    color: hsl(var(--color-white));
    padding: 0.7em 2em;
    font-weight: 500;
    font-size: 1.4rem;

    display: flex;
    justify-content: center;
    border-radius: 200px;

    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: linear-gradient(
        hsla(var(--color-bg-royal-blue), 0.9) 95%,
        hsl(var(--color-bg-slate-blue))
      );
    }
  }
}

/* ===============
   1.6 Attribution
   =============== */

.attribution {
  margin-bottom: 0.8em;
}

/* ========================
   2.0 Tablets 550px - 899px 
   ======================== */

/* =============
   2.1 Results
   ============= */

@media (min-width: 550px) {
  .results {
    padding-inline: 7vw;
    padding-block: 5rem;
    border-radius: 30px;

    &__title {
      font-size: 2.4rem;
      margin-block-start: -1.5rem;
      margin-block-end: 1rem;
    }

    &__circle {
      width: 22vw;
      height: 22vw;
      margin-block-end: 1.5rem;
    }

    &__score {
      font-size: 7rem;
      font-weight: 800;
    }

    &__of {
      font-size: 1.8rem;
    }

    &__eval {
      font-size: 3rem;
      margin-block-end: -1rem;
    }

    &__text {
      font-size: clamp(1.5rem, 2.5vw, 1.7rem);
      // font-size: 1.8rem;
      font-weight: 700;
    }
  }
}

/* =============
   2.2 Summary
   ============= */
.summary {
  padding-inline: 4.2vw;
  padding-block: 4.6vw;
  gap: 2rem;
  font-size: 1.8rem;

  &__title {
    font-size: 2.3rem;
  }
}

/* =============
   2.3 Test
   ============= */

.summary {
  .test {
    min-height: 5.8rem;

    &__right {
      gap: 9px;
    }

    .test__name {
      font-size: 1.9rem;
      font-weight: 600;
    }
  }
}

/* =============
   2.4 Button
   ============= */
.summary {
  .button {
    padding: 1em 2em;
    font-size: 1.7rem;
    margin-block-start: 2.5rem;
  }
}

/* ===============
   2.5 Attribution
   =============== */
@media (min-width: 550px) {
  .attribution {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

/* ==================
   3.0 1100px and Above 
   ================== */
@media (min-width: 1100px) {
  .results {
    padding-inline: 7vw;
    padding-block: 5rem;
    border-radius: 30px;
    max-width: 400px; // Adjust

    &__title {
      font-size: 2.4rem;
      margin-block-start: -1.5rem;
      margin-block-end: 1rem;
    }

    &__circle {
      width: 22vw;
      height: 22vw;
      margin-block-end: 1.5rem;
    }

    &__score {
      font-size: 7rem;
      font-weight: 800;
    }

    &__of {
      font-size: 1.8rem;
    }

    &__eval {
      font-size: 3rem;
      margin-block-end: -1rem;
    }

    &__text {
      font-size: clamp(1.5rem, 2.5vw, 1.7rem);
      // font-size: 1.8rem;
      font-weight: 700;
    }
  }
}
