/* ===========================
   ToC 

   1.0 Phone
   1.1 Footer
   2.0 Tablet 550px - 900px
   3. 550px and Above
   =========================== */

/* ===================
   1.0 Phones 0 - 549px 
   =================== */

/* =============
   1.1 Footer 
   ============= */

.attribution {
  font-size: 11px;
  text-align: center;

  text-wrap: balance;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.app-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ================
   2.0 Tablet 550px - 900px
   ================ */

@media (min-width: 550px) {
  .app-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    box-shadow: 0px 20px 20px 20px hsla(228, 45%, 44%, 0.09);
    border-radius: 30px;
    gap: 0;
  }
}

/* ================
   1100px and Above 
   ================ */
@media (min-width: 1100px) {
  .app-layout {
    max-width: 900px;
  }
}
