/* =============
   Footer 
   ============= */

.attribution {
  font-size: 11px;
  text-align: center;

  text-wrap: balance;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.app-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
